.idea
test
*.dump
log
log/*.log
log/**
log/call_*
log/*.pid
*.tmproj
.bundle/*
db/schema.rb
db/*.bkp
.DS_Store
*.swp
*~
logs/**
*.log
tmp/**/*
**/*/.sass-cache
tmp
config/s3.yml
config/mail_servers.yml
config/backup_fu.yml
config/billing_on_rails.yml
test_images/**/*
public/stylesheets/compiled
public/**/*_packaged.*
capybara-*
coverage
relock/**
solr/data
vendor/bundle
